extends ./layout
block content
    footer
        .footer
            .row.container
                .col.l4.address
                    h1.footer-h1 Address
                    p 50 Davis Street
                    p Doornfontein, Johannnesburg
                    p Gauteng
                    p South Africa
                .col.l4.contacts
                    h1.footer-h1 Contacts
                    p +27 72 601 3383
                    p squashdavenport2@gmail.com
                    p
                        a(target='_blank' href='https://clickfolio.herokuapp.com') clickfolio.herokuapp.com
                #about.col.l4.about.scrollspy
                    h1.footer-h1 About us
                    p
                        | We are a small bussiness
                        | located in Doornfontein, Johannnesburg in South Africa.
                        | Our mission is to help fashion design companies distribute their products through out online platform.
        .container.center.row.social-links
            ul.soc-icons
                li
                    a(target='_blank' href='https://facebook.com/squashetonics')
                        i.fab.fa-facebook
                li
                    a(target='_blank' href='https://facebook.com/squashetonics')
                        i.fab.fa-twitter
                li
                    a(target='_blank' href='https://facebook.com/squashetonics')
                        i.fab.fa-linkedin
                li
                    a(target='_blank' href='https://facebook.com/squashetonics')
                        i.fab.fa-youtube
