extends ./layout

block content
    nav.bg-secondary.navbar.navbar-expand-lg.navbar-secondary
        a.navbar-brand(href="#") Clickswags
        ul.navbar-nav.ml-auto

            li.nav-item
                a(href="#") Catagories
            li.nav-item
                a(href="#") Catagories
            li.nav-item
                a(href="#") Catagories
            li.nav-item
                a(href="#") Catagories