extends ./layout

block content
    .form-page
        img.bg-img(src="images/omid-armin-NiRHdYY2GU8-unsplash-copy.jpg")
        .user-form.container.mt-5
            form.container.mt-5.ml-auto.mr-auto(method="post" action="signup")
                h4.mb-5 Signup to your Clickswags Account
                .input-group
                    label(for='username') Usename
                    input#username.form-control(type='text' name="username")
                .input-group
                    label(for='email') Email address
                    input#email.form-control(type='email' name="email" aria-describedby='emailHelp')
                    small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
                .input-group
                    label(for='password') Password
                    input#password.form-control(type='password' name="password")

                button.z-depth-0.btn.btn-small.transparent.center(type='submit' style="margin: 20px auto; width:100%;letter-spacing: 5px; border: 1px solid darkgrey; font-weight: bold; font-family: 'Courier New' ") Signup
                p.center Already got an account?
                    .container.center(style="margin-bottom: 40px")
                        a.transparent.center(href="login" style="margin-bottom: 40px; width:100%; letter-spacing: 5px ") Login

