

body{
   
    font-family: Verdana, Helvetica
}

h1 {
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 10px;
}
.user-btns{
 
    position: relative;
   margin-top: 10px;
    overflow: hidden;
    display: block;
  }
  
  .su-btn{
    position: relative;
    float: right;
    margin-left: 10px;
    margin-right: 10px
  }
  .so-btn{
    float: right;
    margin-right: 10px
  }
  .si-btn{
    float: right;
  }
.n-logged, .logged{
    display: none;
}

.add-to-cart-btn{

   position: relative;
   opacity: 0.6;
   transition: 2s all;
   
   margin-top: 40px;
   
}
.add-to-cart-btn:hover{
    opacity: 1;
    transform: scale(1.09);
    
    position: relative;
    right: 5px;
    bottom: 5px;
    color: rgb(74, 77, 78);
    font-weight: bolder
}/*
.add-to-cart-btn:disabled{
    opacity: 0.5;
    position: relative;
    right: 155px;
    bottom: 5px;
    color: red;
    transform:rotate(0deg);
}*/
/*-----Navbar-----*/

nav{
    margin-top: 5px;
    position: sticky;
  position: -webkit-sticky;
    top: 0
}

div.nav-wrapper{
    position: sticky;
    position: -webkit-sticky;
      top: 0 
}


.account{
    margin-top: 15px;
}

/*-----End Navbar-----*/

.product-img{
    width: 150px;
    height: 200px;
  
}


.product{
  margin: 30px;
  height: 400px;
}

p.desc{
    font-size: 1.2rem;
    color: grey
}

p.price{
    color: rgb(248, 198, 106)
}


/*---------------------Cart---------------*/

#cart {
   width: 400px;
   padding: 30px;
}
.cart-img{
    width: 90px;
}

.item-hidden {
    display: none;
    visibility: hidden;
}
.clear-cart{
    margin-top: 50px;
    margin-bottom: 100px;
    border: 1px solid rgb(241, 136, 136);
    width: 100%;
}
.checkout {
    border: 1px solid rgb(91, 91, 149);
}

.clear-cart:hover{
    background-color: red
}


/*---------------------End Cart---------------*/


/*---------------------Sidenav---------------*/
a#sidenav-text{
    font-size: 1.2rem;
    border: 1px solid rgba(0,0,0,0.1) ;
    margin-bottom: 12px;
}

/*---------------------End Sidenav---------------*/

